$base-width-large: 2560px;
$base-width-medium: 1024px;
$base-width-small: 768px;
$base-width-mobile: 360px;

$color-background: #F8F8F8;
$color-input-border: #D0CFCF;
$color-error: #CB3D40;
$color-button-main: #F4E041;
$color-button-hover: #FFE302;
$color-button-disabled: #B4B4B4;